


<!-- Указываем имя фрагмента -->
<div th:fragment="menu">

    <!-- Подключение CSS-файла -->
    <link th:href="@{menu.css}" rel="stylesheet" type="text/css">



    <nav class="menu">
        <div class="menu-items">
            <div class="menu-item">
                <a th:href="@{/multiplexers}">Мультиплексоры</a>
            </div>
            <div class="menu-item">
                <a th:href="@{/channels}">Каналы</a>
            </div>
            <div class="menu-item">
                <a th:href="@{/sites}">Объекты</a>
            </div>
            <div class="menu-item" th:if="${#authentication.principal.authorities[0].authority == 'ADMIN' or #authentication.principal.authorities[0].authority == 'MANAGER'}">
                <a th:href="@{/users}">Пользователи</a>
            </div>
        </div>

        <div class="user-info">
            <div class="user-name" th:text="'Пользователь ' + ${#authentication.name}"></div>
            <div class="user-authorities" th:each="authority : ${#authentication.authorities}" th:text="'(' + ${authority.getAuthority()} + ')'"></div>
        </div>

        <form action="/logout" method="post">
            <button type="submit">Logout</button>
        </form>
    </nav>

</div>


