<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add module</title>
</head>
<body>

    <!-- Ошибки    -->
    <div th:if="${errors}">
        <p style="color: red" th:each="error : ${errors}" th:text="${error.defaultMessage}">Error message</p>
    </div>


    <form th:action="@{/modules}" method="post" th:object="${muxModule}">

        <div>
            <label for="moduleType">Module type:
                <select id="moduleType" name="moduleType">
                    <option value="">-- Тип модуля --</option>
                    <option th:each="moduleType : ${moduleTypes}"
                            th:value="${moduleType}"
                            th:selected="${moduleType == muxModule.moduleType}"
                            th:text="${moduleType}">Module type
                    </option>
                </select>
            </label>
        </div>

        <label for="serialNumber">Serial Number:
            <input id="serialNumber" type="text" name="serialNumber" th:value="*{serialNumber}">
        </label><br>

        <label for="slot">Slot:
            <input id="slot" type="text" name="slot" th:value="*{slot}">
        </label><br>

        <input id="multiplexerId" type="hidden" name="multiplexerId" th:value="*{multiplexerId}">

        <button type="submit">Add</button>
    </form>

</body>
</html>