<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add site</title>

    <link th:href="@{/css/elements.css}" rel="stylesheet" type="text/css">

</head>
<body>
<!-- Меню сайта-->
<header th:replace="~{channel/fragments/menuFragment :: menu}"></header>

    <!-- Ошибки    -->
    <div th:if="${errors}">
        <p style="color: red" th:each="error : ${errors}" th:text="${error.defaultMessage}">Error message</p>
    </div>

    <!-- Форма добавления   -->
    <form th:action="@{/sites}" method="post" th:object="${site}">
        <label for="name">Объект:
            <input id="name" type="text" name="name" th:value="*{name}">
        </label><br>
        <label for="region">Регион:
            <input id="region" type="text" name="region" th:value="*{region}">
        </label><br>
        <label for="city">Населенный пункт:
            <input id="city" type="text" name="city" th:value="*{city}">
        </label><br>
        <label for="address">Адрес:
            <input id="address" type="text" name="address" th:value="*{address}">
        </label><br>

        <button type="submit">Добавить</button>
    </form>




</body>
</html>