<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add multiplexer</title>
</head>
<body>
    <!-- Ошибки    -->
    <div th:if="${errors}">
        <p style="color: red" th:each="error : ${errors}" th:text="${error.defaultMessage}">Error message</p>
    </div>

    <form th:action="@{/multiplexers}" method="post" th:object="${multiplexer}">
        <label for="name">Name:
            <input id="name" type="text" name="name" th:value="*{name}">
        </label><br>
        <label for="serialNumber">Serial Number:
            <input id="serialNumber" type="text" name="serialNumber" th:value="*{serialNumber}">
        </label><br>

        <div>
            <label for="site">Site:
                <select id="site" name="siteId">
                    <option th:each="site : ${sites}"
                            th:value="${site.id()}"

                            th:text="${site.name}">Site
                    </option>
                </select>
            </label>
        </div>
        <button type="submit">Добавить</button>
    </form>

</body>
</html>