<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Module</title>
</head>
<body>



    <form th:action="@{/modules/{moduleId}/update(moduleId=${muxModule.id})}" method="post" th:object="${muxModule}">

        <div>
            <label for="moduleType">Module type:
                <select id="moduleType" name="moduleType">
                    <option value="">-- Тип модуля --</option>
                    <option th:each="moduleType : ${moduleTypes}"
                            th:value="${moduleType}"
                            th:selected="${moduleType == muxModule.moduleType}"
                            th:text="${moduleType}">Module type
                    </option>
                </select>
            </label>
        </div>

        <label for="serialNumber">Serial Number:
            <input id="serialNumber" type="text" name="serialNumber" th:value="*{serialNumber}">
        </label><br>

        <label for="slot">Slot:
            <input id="slot" type="text" name="slot" th:value="*{slot}">
        </label><br>

       <input id="multiplexerId" type="hidden" name="multiplexerId" th:value="*{multiplexerId}">

        <button type="submit">Update</button>
    </form>

</body>
</html>