<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Multiplexers</title>
</head>
<body>

    <form action="/multiplexers" th:object="${filter}">
        <label for="name">Name:
            <input id="name" type="text" name="name" th:value="*{name}">
        </label>
        <label for="serialNumber">Serial number:
            <input id="serialNumber" type="text" name="serialNumber" th:value="*{serialNumber()}">
        </label>
        <label for="siteName">Site:
            <input id="siteName" type="text" name="siteName" th:value="*{siteName()}">
        </label>

        <button type="submit">Filter</button>
    </form>

    <div th:each="multiplexer : ${multiplexers}">
        <a th:href="@{'/multiplexers/' + ${multiplexer.id}}" th:text="|${multiplexer.id}. ${multiplexer.name}|">Multiplexer</a>
    </div>


    <form action="/multiplexers/add_multiplexer">
        <button type="submit">Add multiplexer</button>
    </form>
</body>
</html>