<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form th:action="@{/multiplexers/{multiplexerId}/update(multiplexerId=${multiplexer.id})}" method="post" th:object="${multiplexer}">
        <label for="name">Name:
            <input id="name" type="text" name="name" th:value="*{name}">
        </label><br>
        <label for="serialNumber">Serial Number:
            <input id="serialNumber" type="text" name="serialNumber" th:value="*{serialNumber}">
        </label><br>

        <div>
            <label for="site">Site:
                <select id="site" name="siteId">
                    <option th:each="site : ${sites}"
                            th:value="${site.id()}"
                            th:selected="${site.id() == multiplexer.site.id()}"
                            th:text="${site.name()}">Site</option>
                </select>
            </label>
        </div>
        <button type="submit">Update</button>
    </form>
    <form th:action="@{/multiplexers/{multiplexerId}/delete(multiplexerId=${multiplexer.id})}" method="post">
        <button type="submit">Remove</button>
    </form>
</body>
</html>