/* Общие стили для всех страниц */
.content {
    margin-top: 50px; /* Высота меню + немного дополнительного отступа */
}

/* Общие стили для таблиц */
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

.form {
    padding: 10px;
    background-color: #f7f7f7;
}

.form label, .form select, .form input {
    margin-right: 30px; /* Увеличение отступа между элементами */
    margin-bottom: 10px; /* Дополнительный отступ снизу */
}

/* Общие стили для кнопок на странице */
.button {
    background-color: #008CBA; /* Цвет фона кнопок */
    color: white; /* Цвет текста */
    padding: 10px 20px; /* Внутренний отступ */
    border: none; /* Убрать границу */
    cursor: pointer; /* Курсор при наведении */
}

.button:hover {
    background-color: #005F7E; /* Измененный цвет фона при наведении на кнопку */
}