/* Стили для меню */
.menu {
    background-color: #333; /* Цвет фона меню */
    display: flex; /* Разместить элементы горизонтально */
    justify-content: space-between; /* Равномерное распределение элементов */
    align-items: center; /* Выровнять элементы по вертикали */
    padding: 10px 20px;
}

.menu .menu-items {
    display: flex; /* Расположение элементов меню горизонтально */
}

.menu .menu-item {
    margin-right: 10px; /* Расстояние между элементами меню */
}

.menu a {
    text-decoration: none;
    color: #fff; /* Цвет текста */
}

.menu a:hover {
    background-color: #555; /* Цвет фона при наведении */
}

/* Стили для кнопки "Logout" */
.menu form {
    margin: 0;
    padding: 0;
    display: inline;
}

.menu button {
    background-color: #d9534f; /* Цвет фона кнопки */
    color: #fff; /* Цвет текста */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.menu button:hover {
    background-color: #c9302c; /* Цвет фона при наведении */
}

/* Стили для информации о пользователе и ролях */
.user-info {
    color: #fff; /* Цвет текста */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.user-name, .user-authorities {
    margin-right: 10px; /* Расстояние между элементами информации о пользователе и ролях */
}
